<h2>SAT - Impuestos </h2>
<h2>Listing vehiculos </h2>

<table>
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Aniofabricacion</th>
    <th>Precio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehiculos.each do |vehiculo| %>
  <tr>
    <td><%= vehiculo.marca %></td>
    <td><%= vehiculo.modelo %></td>
    <td><%= vehiculo.aniofabricacion %></td>
    <td><%= vehiculo.precio %></td>
    <td><%= link_to 'Show', vehiculo %></td>
    <td><%= link_to 'Edit', edit_vehiculo_path(vehiculo) %></td>
    <td><%= link_to 'Destroy', vehiculo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vehiculo', new_vehiculo_path %>
